@charset "utf-8";

#menu {
  background: url('../img/buffet.png') no-repeat center top fixed;

}

#xclu1b {
  background: url('../img/raika.jpg') no-repeat center top fixed;

}

#weather {
  background: url('../img/weather.jpg') no-repeat center top fixed;

}

#office {
  background: url('../img/office.png') no-repeat center top fixed;

}

.carousel-inner .item{
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-control.right,.carousel-control.left{
	background-image:none;
}

.konami{
	width: 445px;
	height: 445px;
	background: url('../img/kon.png') 100% 100%;
	z-index: 1;
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	margin-left: auto;
	margin-right: auto;
}



.pre-loader{
	width: 500px;
	top: 250px;
	position: relative;
}


.image-md-container {
	width:200px;
	height:auto;
}


.raika {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.raika img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}